{block #content}
<section class="reservation-page page">
        <div class="container">
            <h1 n:block="title">Rezervace lekcí</h1>
            <h5>Rezervační systém je v tvorbě.</h5>
            <a n:href="Homepage:" class="btn btn-primary mt-5">Zpět na úvod</a>
        </div>
</section>
